<h2 class="h2">Current Dog Poop Forecast:</h2>
<div *ngIf="!weather">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="weather">
    <p class="temp">{{weather?.temperature}} &#x2109;</p>
    <span class="p-style" *ngIf="weather?.temperature < 32">There's probably poop, but it's frozen.</span>
    <span class="p-style" *ngIf="weather?.temperature > 32 && weather?.temperature < 50">There's poop, and it's thawing.</span>
    <span class="p-style" *ngIf="weather?.temperature > 50 && weather?.temperature < 70"> It's nice out, there's poop, and it's starting to warm up.</span>
    <span class="p-style" *ngIf="weather?.temperature > 70 && weather?.temperature < 80"> It's warm out, there's poop, and it too is warm.</span>
    <span class="p-style" *ngIf="weather?.temperature > 80 && weather?.temperature < 100"> It's hot out, there's  lots of poop, and it's steaming.</span>
    <span class="p-style" *ngIf="weather?.temperature > 100"> Why are you outside? The poop is steaming.</span>
</div>
