#icon {
    font-size: 40px !important;
}

.temp-30 {
    color: #5F9F9F
}
.temp-40 {
    color: #2F4F4F;
}
.temp-50 {
    color: #006800;
}
.temp-60 {
    color: #00B800;
}
.temp-70 {
    color: #00F000;
}
.temp-80 {
    color: #FF4500;
}
.temp-90 {
    color: #DC143C;
}
.container {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
}
.temp {
    font-size: 50px;
}
.p-style {
    font-size: 10px;
}
.border {
    border-right: gray;
}
@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }