<button class="btn btn-lg btn-success space" (click)="onClick('yes')">Open</button>
    <button class="btn btn-lg btn-danger space" (click)="onClick('no')">Closed</button>
    <button class="btn btn-lg btn-warning space" (click)="onClick('maybe')">Maybe</button>
    <div class="col-md-4">
    <div class="thumbnail">
        <img src="{{url}}{{images?.tpImage}}" alt="Lights" style="width:100%">
        <button (click)="onSendImage(url + images?.tpImage)" class="btn btn-small btn-success margin">Approve</button>
    </div>

    
