#align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold
}

.space {
    margin: 10px;;
}

.max {
    max-width: 20%;
}
.margin {
    margin-top: 20px;
}