.header {
    font-size: 200px;
}

.h2 {
    font-size: 27px !important;
    font-weight: 100 !important;
}

.text {
    font-size: 50px !important;
    text-transform: uppercase;
}

#small-text {
    font-size: 9px;
    color: gray;
}