<h2 class="h2">Is Fortune Garden Open?</h2>
<div *ngIf="!open">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="open" class='text'>
    <div *ngIf="open === 'yes'">
        <h1><span class="text-success text">Yes</span></h1>
    </div>
    <div *ngIf="open === 'no'">
        <h1><span class="text-danger text">No</span></h1>
    </div>
    <div *ngIf="open === 'maybe'">
        <h1><span class="text">No Idea</span></h1>
    </div>
</div>
<p id="small-text">(This is just for fun, please call or drive by to check. *Not affiliated with Fortune Garden.)</p>



  