#hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
    font-weight: bold;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.253);
    @media only screen and (max-width: 600px) {
        position:inherit;
        top: none;
        left: none;
        transform: none;
        margin: 20px;
    }
}

#bottom-left {
    position: absolute;
    top: 95%;
    left: 1%;
    font-size: 9px;
    color: gray;
}