<!-- <app-night-mode></app-night-mode> -->
<div id="hello">
    <app-date></app-date>
    <app-dog-poop-forecast></app-dog-poop-forecast>
    <hr>
    <app-is-open [open]="open"></app-is-open>
    <hr>
    <app-fireworks></app-fireworks>
    <hr>
    <app-kwik-star></app-kwik-star>
    <hr>
    <app-mcdonalds></app-mcdonalds>
    <hr>
    <button routerLink="/suggestions" class="btn bt-small btn-success">Make Suggestions/Contact Me</button>
</div>

<app-signature id="bottom-left"></app-signature>

