// .larger{
//     font-size: 20px;
// }

.small-things {
    width: 275px;
    border-bottom: 1px solid #cecece;
    margin: auto;
}

.p-size {
    font-size: 11px;
    font-weight: 400;
}

.width {
    width: 308px;
    margin: auto;
}

.no-border {
    border-bottom: none;
}

.spacing {
    margin-top: 20px;
}