ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li:nth-child(odd){
    background-color: #efefef;
    padding: 14px;
    &:hover {
        background-color: greenyellow;
        cursor: pointer;
    }
}

ul>li:nth-child(even){
    background-color: #dadada;
    padding: 14px;
    &:hover {
        background-color: greenyellow;
        cursor: pointer;
    }
}


.pill {
    position: absolute;
    right: 10%;
    padding: 2px 2%;
    font-size: 12px;
    border-radius: 20px;
    &--cash {
        background: #17e243;
    }
    &--donation {
        background: #ffd400;
    }
    &--check {
        background: #fd0dbe;
    }
    @media only screen and (min-width: 768px) {

    }
    
}

.modal {
    padding: 0px;
}

.payment{
    width: 100%;
    margin-bottom: 10px;
}

.name {
    font-size: 15px;
    margin-left: 2%;
    font-weight: 100;
}

.margin-top {
    margin-top: 20px;
}

p {
    font-weight: 100;
}

.h2{
    margin-top: 20px;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}