<h2 class="h2">Pick Up Supplies For Someone In Need:</h2>
<p>Have some extra time after work? <br> Below is a list of things someone needs in the community</p>
<button type="button" class="btn btn-small margin-top btn-success" data-toggle="modal" data-target="#suppliesModal">
   Need something? Click Here
  </button>

<h2 *ngIf="todo" class="h2">Click on bars below to see what others need.</h2>
    <div class="row container d-flex justify-content-center">
        <div class="col-lg-12 margin-top">
            <ul class="list">
                <li *ngFor="let todo of supplyArray" (click)="onSupplyClick(todo._id)" data-toggle="modal" data-target="#supplyModal">
                    <span>{{todo.supplyDescription}}</span>
                </li>
            </ul>
        </div>
    </div>
      <!-- Modal -->
  <div class="modal fade" id="supplyModal" tabindex="-1" role="dialog" aria-labelledby="supplyModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pick supplies up for someone?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="pickupLoading">
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
            <div *ngIf="!pickupLoading">
                <div class="col-lg-12">
                    <h5>What they need:</h5>
                    <p>{{singleSupplyItem?.suppliesNeeded}}</p>
                    <p>Don't forget to fill out this form completely!</p>
                    <form [formGroup]="pickupList" class="col-md-12" (ngSubmit)="onPickupSubmit(singleSupplyItem?._id)" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Full Name</label>
                          <input
                          type="text"
                          placeholder="Full Name"
                          class="form-control"
                          formControlName="pickupName"
                          required
                          >
                        </div>
                        <div class="form-group col-md-6">
                          <label>Email</label>
                          <input
                          type="text"
                          placeholder="Email"
                          formControlName="pickupEmail"
                          class="form-control"
                          required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone Number</label>
                            <input
                            type="text"
                            placeholder="Phone Number"
                            formControlName="pickupPhoneNumber"
                            class="form-control"
                            required>
                          </div>
                      </div>
                      <h5>If you want to pick these items up:</h5>
                      <p>Click on Submit and we will send you an email with the list and contact information for the person who is needing those items. <br>
                        We will also send the recipient an email telling them that you are going to pick up these items, and your contact info.</p>
                      <div class="row">
                        <button type="submit" [disabled]="pickupList.invalid" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                      </form>
                </div>
              </div>
        </div>

      </div>
    </div>
  </div>

  
  <!-- Modal -->
  <div class="modal fade" id="suppliesModal" tabindex="-1" role="dialog" aria-labelledby="suppliesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add supplies you need to the list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="submitLoading">
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
            <div *ngIf="!submitLoading">
                <div class="col-lg-12">
                    <p>Don't forget to fill out this form completely!</p>
                    <form [formGroup]="supplyList" class="col-md-12" (ngSubmit)="onSupplySubmit()" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Full Name</label>
                          <input
                          type="text"
                          placeholder="Full Name"
                          class="form-control"
                          formControlName="name"
                          required
                          >
                        </div>
                        <div class="form-group col-md-6">
                          <label>Email</label>
                          <input
                          type="text"
                          placeholder="Email"
                          formControlName="email"
                          class="form-control"
                          required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone Number</label>
                            <input
                            type="text"
                            placeholder="Phone Number"
                            formControlName="phoneNumber"
                            class="form-control"
                            required>
                          </div>
                        <div class="form-group col-md-12">
                            <label>Address line 1</label>
                            <input
                            type="text"
                            placeholder="Address Line 1"
                            formControlName="address1"
                            class="form-control"
                            required>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Address Line 2</label>
                            <input
                            type="text"
                            placeholder="Address Line 2"
                            formControlName="address2"
                            class="form-control"
                            >
                          </div>
                          <div class="form-group col-md-12">
                            <label>Zip Code</label>
                            <input
                            type="number"
                            placeholder="Zip Code"
                            formControlName="zipCode"
                            class="form-control"
                            required>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Supply Description (ex. "Groceries", "misc")</label>
                            <input
                            type="string"
                            placeholder="Supply Description"
                            formControlName="supplyDescription"
                            class="form-control"
                            required>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Supplies needed</label>
                            <textarea
                            type="text"
                            placeholder="Supplies you need"
                            formControlName="suppliesNeeded"
                            class="form-control"
                            required>
                            </textarea>
                          </div>
                      </div>
                      <div class="row">
                        <button type="submit" [disabled]="supplyList.invalid" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                      </form>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>