/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    background: rgb(241, 241, 241);
    color: rgb(85, 85, 85);
}

.h2 {
    font-size: 27px !important;
    font-weight: 100 !important;
}

.text {
    font-size: 50px !important;
    text-transform: uppercase;
}

#hello {
    margin: 3% 25%;
    font-weight: bold;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.253);
    @media only screen and (max-width: 600px) {
        position:inherit;
        top: none;
        left: none;
        transform: none;
        margin: 20px;
    }
}

#bottom-left {
    text-align: center;
    font-size: 9px;
    color: gray;
}