/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    background: rgb(241, 241, 241);
    color: rgb(85, 85, 85);
}

.h2 {
    font-size: 27px !important;
    font-weight: 100 !important;
}

.text {
    font-size: 50px !important;
    text-transform: uppercase;
}