<h2 class="h2"> 141 and 37th St. Status</h2>
<img class="max-width" src="http://205.221.66.10/axis/DMTV90.jpg" alt="141 image">
<button type="button" class="btn btn-small margin-top btn-success" data-toggle="modal" data-target="#exampleModal">
    How to Zipper Merge
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How to Zipper Merge</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="max-width" src="https://images.squarespace-cdn.com/content/v1/503d2b05c4aaf0e1f6a0e4e1/1535996347871-2LIP5URVXYTFIDUDQVAK/ke17ZwdGBToddI8pDm48kAbdcPI6LT_Dm3UDsxSwuckUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcna8aWYuOESpe2X0GSDuhSX5h1vxhm7GSg4cXgQf0Er5b_R_lXZ-xC3u60aqbwNY7/Screen+Shot+2018-09-03+at+11.39.25+AM.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>